:root {
  --iref-bar-highlight: #6120ff;
}

.iref-status-bar {
  .css-3klkag,
  .css-5p3npk {
    height: calc(100vh - 41px);
  }

  #friends-wrapper {
    margin-bottom: 37px;
  }
}

#iref-bar {
  display: flex;
  width: 100%;
  height: 41px;
  border-top: 1px solid var(--iref-bar-highlight);
  background: #000;
  z-index: 9000;
  position: absolute;
  bottom: 1px;

  .iref-logo {
    width: 100px;
    background-color: var(--iref-bar-highlight);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;

    img {
      height: 17px;
    }
  }

  .iref-bar-left {
    flex-grow: 1;
    display: flex;
  }

  .iref-queue-items {
    display: flex;
    flex-grow: 1;
    align-items: center;
  }

  .iref-queue-item {
    margin: 0px 5px;
    padding: 4px 8px;
    background: #1e1e27;
    height: 30px;
    border-radius: 5px;
  }

  .iref-remove-btn {
    font-size: 36px;
    line-height: 0px;
    transform: translate(-2px, 5px);
  }

  .iref-bar-right {
    width: 200px;
  }
}
